.custom-blog h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding-bottom: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 1rem;
}

.custom-blog p {
  margin-bottom: 1rem;
}
.custom-blog img {
  border-style: solid;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.custom-blog a {
  text-decoration: underline;
  --tw-text-opacity: 1;
  color: rgba(148, 200, 90, 0.9);
}
.custom-blog ul {
  list-style: circle;
  padding-left: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0.75rem;
}
.custom-blog li {
  margin-bottom: 0.25rem;
}
